<div class="app-layout" cds-layout="vertical align:stretch">
  <header class="app-header" cds-layout="horizontal p:md gap:md align:vertical-center">
    <p class="app-title" cds-text="section">Hello {{title}}</p>
  </header>
  <div class="main-content" cds-layout="vertical gap:md">
    <p cds-text="message">
      This is a message demo application that receive notifications from the NATS server using a WebSocket connection. <br/>
      Click on the "Connect" button and wait for messages
    </p>
    <cds-divider></cds-divider>
    <app-main></app-main>
  </div>
</div>
