.app-layout {
  height: 100vh;
  background-color: var(--cds-alias-object-app-background);
}

.app-header {
  background-color: var(--cds-global-color-blue-1000);
  max-height: 3rem;

  .app-title {
    color: var(--cds-global-color-cool-gray-50);
  }
}


.main-content {
  padding: 10px;
}
